<!DOCTYPE html>
<html>
<head>
    <title>Game</title>
</head>
<body>
    <h1>Play our Madlib game!!</h1>
    <form action="/madlib">
        Person's name: <input type="text" name="person"><br>
        Color: <select name="colortype">
            <option value="red">Red</option>
            <option value="purple">Purple</option> 
            <option value="periwinkle">Periwinkle</option>
            <option value="puce">Puce</option>
            <option value="cerulean">Cerulean</option>
        </select><br>
        Noun: 
        <input type="radio" name="noun" value="burrito">burrito
        <input type="radio" name="noun" value="poodle">poodle
        <input type="radio" name="noun" value="compost-heap">compost heap
        <input type="radio" name="noun" value="tesla">tesla
        <br>
        Adverb:
        <input type="checkbox" name="adverbs" value="totally">totally
        <input type="checkbox" name="adverbs" value="ridiculously">ridiculously
        <input type="checkbox" name="adverbs" value="sneakily">sneakily
        <input type="checkbox" name="adverbs" value="slothily">slothily
        <input type="checkbox" name="adverbs" value="ravenously">ravenously
        <br>
        Adjective: <input type="text" name="adjective"><br>
        <input type="submit">
    </form>
</body>
</html>